.login_form{
    width: 30rem;
    margin: auto;
    margin-top: 10rem;
    border: 3px solid black;
    border-radius: 15px;
    padding: 2rem;
}

.button_login {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.assembly_info {
    display: flex;
    width: 50rem;
    height: 4rem;
    border-bottom: 1px solid #818a8a
}

.assembly_info:hover {
    background-color: #d4dcdc;
    cursor: pointer;
}
